body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('/IMAGES/bookbg.webp'); /* Added background image */
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Make sure body fills the viewport */
}

.container {
    width: 80%; /* Adjust the width of the container */
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text horizontally */
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#categoryList {
    margin-top: 20px;
}

#categoryList h2 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#deleteCategoryBtn {
    margin-top: 10px;
}
