body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/IMAGES/bgpic.webp'); /* Set background image */
    background-size: cover; /* Ensure the background image covers the entire screen */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #000000;
}

#cartItems {
    margin-bottom: 20px;
}

.productItem {
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.9);
}

#total {
    font-weight: bold;
}

#paymentMethod {
    margin-top: 20px;
    padding: 10px;
}

#makePaymentBtn {
    padding: 10px 20px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#makePaymentBtn:hover {
    background-color: #0056b3;
}

#paymentStatus {
    margin-top: 20px;
    font-weight: bold;
}
