/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('/IMAGES/bookbg.webp'); /* Added background image */
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Make sure body fills the viewport */
}

.container {
    width: 80%; /* Adjust the width of the container */
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text horizontally */
}

h1,
h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
    border-color: #4CAF50;
}

#addProductForm,
#displayProductForm,
#updateProductForm,
#deleteConfirmation {
    margin-top: 20px;
}

#addProductForm,
#displayProductForm,
#updateProductForm {
    display: none;
}

#deleteConfirmation {
    display: none;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
    }
}
