* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('/IMAGES/bookbg.webp') center center fixed; /* Added background image */
    background-size: cover; /* Ensures the background image covers the entire viewport */
    color: #333; /* Set text color to a darker shade */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
:placeholder-shown{
    color: #000;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Adjusted box shadow */
    color: #ffffff; /* Set text color to white */
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1.2rem;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid #ccc; /* Changed input border color */
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #fffefe; /* Changed input background color */
    
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    background: #4CAF50; /* Changed button background color */
    color: #fff; /* Changed button text color */
    cursor: pointer;
}

button:hover {
    background: #45a049; /* Darker green on hover */
}

input:focus {
    border: 1px solid #66afe9; /* Changed focus border color */
}
